<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://vignette.wikia.nocookie.net/cocktails/images/0/0e/Community-header-background/revision/latest?cb=20170726164220)">
  <%= @cocktail.name %>
</div>

<br>

<div class="container">
  <div class="card-product">
  <div class="card-product-infos">
    <div class="container text-align-center">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>



