<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://vignette.wikia.nocookie.net/cocktails/images/0/0e/Community-header-background/revision/latest?cb=20170726164220)">
  <%= @cocktail.name %>
</div>

<br>

<div class="container">
  <% @cocktail.doses.each do |dose| %>
  <div class="notification">
    <div class="notification-content">
      <p><small><%= dose.ingredient.name %>:</small></p>
      <p><%=   dose.description %>.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>
<% end %>


<br>
<%= link_to 'Back to the cocktail list', cocktails_path , class: "btn btn-warning"%>
<%= link_to 'Add cocktail doses',  new_cocktail_dose_path(@cocktail) , class: "btn btn-primary"%>
</div>
</div>


<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
