<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://vignette.wikia.nocookie.net/cocktails/images/0/0e/Community-header-background/revision/latest?cb=20170726164220)">
  <%= @cocktail.name %>
</div>

<br>

<div class="container">

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to 'Back',  cocktail_path(@cocktail) , class: "btn btn-success"%>

</div>
